*{
  scroll-behavior: smooth;
}
body{
  overflow-x:hidden;
}

html,
  body,
  header,
  .view {
    height: 100%;
  }
  .view{
    background-image: url('../img/landingpage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity:0.99;
    background-attachment: fixed;
  }

  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 1000px;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
      height: 650px;
    }
  }
  .top-nav-collapse {
    background-color: #3f51b5 !important;
  }

  .navbar:not(.top-nav-collapse) {
    background: transparent;
  }
  

  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }

  .rgba-gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  }

  .card {
    background-color: rgba(126, 123, 215, 0.2);
  }

  .md-form label {
    color: #ffffff;
  }

  h1{
    font-family:'Handlee',cursive;
    font-size:500%;
  }
  #slogan{
    font-size:180%;
  }
  h2{
    font-family:'Handlee',cursive;
  }
  li:hover{
    background-color:#a6a6a6;
    border-radius: 30px;
  }
  .details{
  width:50%;
  padding-left:100px;
  display:none;
  }
  #purchase,.toppings,#placeorder,#delivery{
    display:none;
  }
  .toppings{
    padding-left:103px;
  }
  #placeorder{
    padding-left:5px;
  }
  .buttons{
    padding-left:95px;
  }